@import '../../../../common/styles/colors.scss';

nav{
    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left{
            display: flex;
            align-items: center;
            justify-content: center;
            .item{
                display: flex;
            }
            .items-menu{
                display: flex;
                gap:10px;
            }

        }

        .center{
            font-size: 20px;
            letter-spacing: 2px;
        }

        .right{
            display: flex;
            align-items: center;
            gap:10px;

            .icons{
                display: flex;
                align-items: center;
                gap: 15px;
                cursor: pointer;
                color: #777;
                .cartIcon{
                    position: relative;
                    span{
                        position: absolute;
                        background-color: $blueShadeColor;
                        color:#fff;
                        border-radius: 50%;
                        width:20px;
                        font-size: 12px;
                        height:20px;
                        top:-8px;
                        right:-10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                }
            }
        }
    }
}